@import "styles.css";
#loglog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 50vh;
    background: #ffffff;
    margin: 10vh auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #999;
}

#header {
    display: flex;
    background: none !important;
    color: var(--main-brown-color);
}

#signin {
    font-family: Poppins, serif;
    display: flex;
    flex-direction: row;
    align-content: center;
    color: #fff;
    font-weight: 800;
    flex-flow: column;
    width: 80%;
}

input {
    border: 0;
    border-bottom: 2px #ddd solid;
    background: #ffffff;
    display: flex;
    margin-bottom: 20px;
    padding: 5px;
    font-family: Poppins, sans-serif;
    width: 80%;
}

@keyframes underline {
    from { border-bottom: 2px #ddd solid;}
    to { border-bottom: 2px var(--main-brown-color) solid;}
}

@keyframes underlinetwo {
    from { border-bottom: 2px var(--main-brown-color) solid;}
    to { border-bottom: 2px black solid;}
}

input:hover {
    animation-name: underline;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

input:focus {
    animation-name: underlinetwo;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    outline: none;
    border: none;
    animation-fill-mode: forwards;
}

input::placeholder {
    color: #bbb;
    font-weight: 500;
}


.label {
    font-weight: 400;
    font-size: 0.9rem;
    color: #999999;
}

button {
    background: var(--main-brown-color);
    padding: 5px 10px;
    color: #fff;
    border: none;
    width: 40%;
    height: 25%;
    border-radius: 25px;
    font-weight: 300;
    font-family: Poppins;
    letter-spacing: 2px;
    font-size: 0.9rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

@keyframes click {
    from { border-radius: 25px;}
    to {border-radius: 0;}
}

button:hover {
    animation-name: click;
    animation-duration: 2s;
}

.popup_close {
    margin-top: 10px;
    font-family: Arial, sans-serif !important;
    font-size: 0.8rem;
    float: right;
}

#header h1 {
    float: left;
    font-size: 2rem;
}