:root {
    --main-brown-color: #6d4c41;
}

body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
    color: #333333;
    min-height: 20000px;

}

.container {
    width:100%;
    height: 100%;
}



/* RESPONSIVE TYPOGRAPHY */
html {
    font-size: 14px;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

a {
    font-size: 1rem;
    text-decoration: none;
}

/* HEADER */

header {
    width: 100vw;
    height: 12vh;
    background: var(--main-brown-color);
    position: fixed;
    top:0;
    box-sizing: border-box;
    padding: 0.05rem 0.15rem;
    display: flex;
    align-items: center;
}

#backspace {
    float: left;
    cursor: pointer;
    margin-left: 2%;
    height: 3.5rem;
    width: 3.5rem;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
}
@keyframes wprost {
   from { background: rgba(0,0,0,0.1); }
    to { background: rgba(0,0,0,0.3); }
}

#backspace:hover {
    animation-name: wprost;
    animation-duration: 2s;
}
#topLeft{}


#arrow {
    position:relative;
    top:50%;
    width: 25%;
    height: 25%;
    background: transparent;
    border-top: 0.3em solid white;
    border-right: 0.3em solid white;
    left:40%;
    transform: translate3d(0,-50%,0) rotate(-135deg);
}

#title {
    float: left;
    width: 150px;
    height:40px;
    background: url(logo.png);
    margin-left: 0.5rem;
}




#topRight {}


