:root {
    --main-brown-color: #6d4c41;
}

body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
    color: #333333;
    min-height: 20000px;
    font-family: "Roboto Condensed",Arial,sans-serif;
    box-sizing: border-box;

}

.container {
    width:100%;
    height: 100%;
}



/* RESPONSIVE TYPOGRAPHY */
html {
    font-size: 14px;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

a {
    font-size: 1rem;
    text-decoration: none;
}

/* HEADER */

header {
    width: 100vw;
    height: 12vh;
    background: var(--main-brown-color);
    position: fixed;
    top:0;
    box-sizing: border-box;
    padding: 0.05rem 0.15rem;
    display: flex;
    align-items: center;
}

.corner-box {
    height: 3.5rem;
    width: 3.5rem;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
}

#backspace {
    cursor: pointer;
}

@keyframes wprost {
   from { background: rgba(0,0,0,0.1); }
    to { background: rgba(0,0,0,0.3); }
}

#backspace:hover {
    animation-name: wprost;
    animation-duration: 2s;
}
#topLeft{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    margin-left: 2%;
    justify-content: flex-start;
    width: 250vw;
}

#arrow {
    position:relative;
    top:50%;
    width: 25%;
    height: 25%;
    background: transparent;
    border-top: 0.3em solid white;
    border-right: 0.3em solid white;
    left:40%;
    transform: translate3d(0,-50%,0) rotate(-135deg);
}

#title {
    width: 150px;
    height:40px;
    background-size:cover;
    background: url(logo.png);
    margin-left: 2%;
    font-size: .1px;
    text-indent: -999px;
    cursor: pointer;
    box-sizing: border-box;
}

#subtitle {
    color: #d9c5b9;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-left: 0.5rem;
    cursor: pointer;
}


#topRight {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    margin-right: 2%;
    justify-content: flex-end;
    width: 250vw;
}


#top-menu {
    color:#fff;
    display:inline-flex;
    background: red;
    list-style: none;
    padding: 0;
}

#top-menu li {
    margin: 0 3px;
    display: block;
}

#top-menu li span {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}

#top-menu li span:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.long-box {
    min-width: 7rem;
    width: auto;
}

#log-icon {
    background: url(icon-20-a-user.png);

}
#search-icon{
    background: url(icon-20-a-search.png);
}
#menu-icon{
    background: url(icon-20-a-menu.png);
}

