:root {
    --main-brown-color: #6d4c41;
}

body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
    color: #333333;
    min-height: 20000px;
    font-family: Roboto, "Roboto Condensed",Arial,sans-serif;
    box-sizing: border-box;

}


/* RESPONSIVE TYPOGRAPHY */
html {
    font-size: 14px;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
}

/* HEADER */

header {
    width: 100vw;
    height: 12vh;
    background: var(--main-brown-color);
    position: fixed;
    top:0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 999999;
}

.corner-box {
    height: 3.5rem;
    width: 3.5rem;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

}

.corner-box:hover {
    animation-name: corner-box-animation;
    animation-duration: 2s;
}

/*#backspace {

}*/

@keyframes corner-box-animation {
   from { background: rgba(0,0,0,0.1); }
    to { background: rgba(0,0,0,0.4); }
}

#topLeft{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    margin-left: 2%;
    justify-content: flex-start;
    width: 250vw;
}

#arrow {
    position:relative;
    top:50%;
    width: 25%;
    height: 25%;
    background: transparent;
    border-top: 0.3em solid white;
    border-right: 0.3em solid white;
    left:40%;
    transform: translate3d(0,-50%,0) rotate(-135deg);
}

#title {
    width: 150px;
    height:40px;
    background-size:cover;
    background: url(logo.png);
    margin-left: 2%;
    font-size: .1px;
    text-indent: -999px;
    cursor: pointer;
    box-sizing: border-box;
}

#subtitle {
    color: #d9c5b9;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-left: 0.5rem;
    cursor: pointer;
}


#topRight {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    margin-right: 2%;
    justify-content: flex-end;
    width: 250vw;
}


#top-menu {
    color:#fff;
    display:inline-flex;
    list-style: none;
    padding: 0;
}

#top-menu li {
    margin: 0 3px;
    display: block;
}

#top-menu li span {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}

#top-menu li span:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.long-box {
    min-width: 7rem;
    width: auto;
}

#subscribe {
    font-style: normal;
    color: #ffde00;
    text-align: center;
    padding: 0 10px 0 40px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
}

#log-icon {
    background: url(icon-20-a-user.png);

}
#search-icon{
    background: url(icon-20-a-search.png);
}
#menu-icon{
    background: url(icon-20-a-menu.png);
}
#bell-icon {
    background: url(icon-20-s-bell.png);
    background-position: 10px center !important;
}

#top-bar {
    width: 100%;
    height: 12vh;
    background: linear-gradient(to right, #777, #444);
    margin-top: 12vh;
    text-align: center;
    cursor: pointer;
}

#top-bar p {
    user-select: none;
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #fff;
    line-height: 12vh;
}

#top-bar strong {
    color: #ffde00;
}

#container {
    width:90vw;
    height: 100%;
    margin: 5vh auto 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.description {
    padding-top: 5vh;
    width: 40%;
    height: auto;
}

.description h3:hover {
    text-decoration: underline;
}

.hotnews {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
}

.transparency{
    width: 60%;
    height: 60vh;
    background: url(img/img1.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

.transparency:before {
    content: "";
    display: inline-block;
    width: 50%;
    height: 60vh;
    background-image: linear-gradient(to left,
    rgba(238, 238, 238, 0) 0%,
    rgba(238, 238, 238, 0) 10%,
    rgba(238, 238, 238, 1.0) 100%
    );
}
.gridnews {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.gridnews article {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    margin: 0;
    background: #ffffff;
    box-shadow: 1px 1px 3px #cccccc;
}

.gridnews h3 {
    font-size: 1.5rem;
    margin: 4px auto 6px auto;
    font-weight: 500;
    line-height: 1.5rem;
}

.gridnews p {
    margin:0;
    font-size: 0.9rem;
    text-align: justify;
}


#overlay {
    position: absolute;
    top: 12vh;
    width: 100%;
    height: 100vh;
    background: rgb(65,46,39);
    z-index: 9;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
}

#overlayNav {
    width: 90%;
    height: 90%;
    margin: 10px auto;
    padding-top: 5vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.submenu {
    display: inline-flex;
    z-index: 10;
    color: #ffffff;
    list-style: none;
    line-height: 2rem;
    margin: 3%;
    flex-flow: row wrap;
    -webkit-box-decoration-break: clone;
}

.submenu li:first-child a {
    padding-right: 10vw;
    font-size: 2rem;
}


.submenu li a {
    display: inline-flex;
    float: left;
    padding-left: 2vw !important;
    font-size: 1rem;
}


/* Popup */

#fade, #fade_wrapper, #fade_background {
    transition: all 0.3s;
}
#jqpopup {
    display:none;
}